/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/*//////////////////////////////////////////////////////////////////
[ FONT ]*/





/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


  
  /*---------------------------------------------*/

  h1 {
    font-size: 60px;
    background: -webkit-linear-gradient(black, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    margin-right: 70px;
  }

  .nav-item {
    padding: 15px;
    margin-right: 10px;
  
  }

  .login {
    margin-top: 100px;
    margin-left: 60px;
  }

  #qty-count {
    top: -11px;
    position: relative;
    left: -5px;
  }

  .create_account {
    margin-left: 50px;
  }

  #navbarNav h1 {
    width: 200px;
  }

  #cart-table td:first-child {
    width: 33%;
  }

  #cart-table td.money {
    text-align: right;
  }

  #cart-table td.update {
    text-align: right;
  }

  #cart-table tr:last-child td {
    height: 100px;
    font-weight: bold;
    text-align: right;
  }

  #cart-table {
    margin-top: 75px;
  }