
<center>
<div class="thank_you">
    <h2>Thank you for your purchase</h2>
</div>

<h3>Your items are on the way!</h3>

<iframe src="https://giphy.com/embed/ygAmwHhCqZZMJY3wYh" width="480" height="360" frameBorder="0" class="" allowFullScreen>
</iframe>

</center>